.competition-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--two-rem);
    margin-bottom: var(--one-rem);
    position: relative;

    &::before{
        content: "";
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        height: 4px;
        background: linear-gradient(
            to right,
            transparent,
            var(--primary-color),
            transparent
        );
        border-radius: 4px;
    }
}
.competition-header img{
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-bottom: var(--one-rem);
}